body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    z-index: 1000;

    .content-wrapper {
        min-height: 100vh;
        height: 100%;
        flex-grow: 1;
        background: black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 250px;
    }
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-image: url("../images/bg.jpg");

    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.5;
    pointer-events: none;
}

@media only screen and (max-width: 600px) {
    .content-wrapper {
        // display: none ;
        margin: 0 !important;
        flex-grow: 1 !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
}
