.home {
    h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
    .h1-bold {
        display: inline;
        font-weight: bold;
    }

    .extra-info {
        margin-top: 25px;
        .name {
            margin-left: 3px;
            h3 {
                font-size: 1.6rem;
            }
        }

        .view-projects-button {
            // display: none;
            background-color: rgb(93, 0, 214);
            border: none;

            font-weight: bold;
            margin: 10px 0;
            margin-bottom: 25px;
            // margin-bottom: 10px;
            font-size: 200%;
            position: relative;
            z-index: 1;

            &:hover {
                border: 2px solid rgb(93, 0, 214);
                background: white;
                a {
                    color: rgb(93, 0, 214);
                }
                font-weight: bold;
            }

            &:active {
                background: rgb(93, 0, 214) !important;
            }

            a {
                color: white;
            }
            a:hover {
                text-decoration: none;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .home {
        width: 80% !important;
        // font-size: 3rem;
        h1 {
            font-size: 3.5rem;
            line-height: 3.5rem;
        }

        .view-projects-button {
            font-size: 170% !important;
        }
    }
}
